*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.6rem;
	text-decoration: none;
}
.a1{
	width: 100%;
	height: 2000px;
}
.a2{
	width: 94%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	margin-top: 100px;
	border-bottom: 1px solid slategray;
}
.a3{
	width: 40%;
}
.a4{
	font-size: 2rem;
}
.a6{
	width: 94%;
	height: 220px;
	padding-top: 30px;
	margin: 0 auto;
}
.a7{
	float: left;
}
.a7>img{
	margin-top: 8px;
	border-radius: 15px;
}
.a8{
	float: left;
	margin-left: 8px;
	margin-top: 30px;
}
.a8>ul>li:nth-child(1){
	font-size: 1.8rem;
}
.a9{
	height: 50px;
	background: #2DD7A8;
	padding: 15px 15px 15px 15px;
	border-radius: 15px;
    float: right;
    margin-top: 25px;
	color: white;
}
.b1{
	width: 94%;
	height: 150px;
	border-bottom: 1px solid slategray;
	margin: 0 auto;
	display: flex;
}
.b2{
	width: 25%;
	height: 100px;
	text-align: center;
	border-right: 1px solid silver;
}
.b2>ul>li{
	margin-top: 10px;
}
.b2>ul>li:nth-child(2){
	color: silver;
	font-size: 1.4rem;
}
.b3{
	width: 94%;
	height: 250px;
	margin: 0 auto;
	padding-top: 20px;
}
.b3>ul>li{
	margin-top: 10px;
}
.b3>ul>li>span{
	font-size: 1.4rem;
}
.b4{
	width: 100%;
	height: 390px;
	background: #EEEEEE;
	padding-top: 20px;
}
.b5{
	width: 100%;
	height: 120px;
	background: white;
	border-bottom: 1px solid #708090;
}
.b6{
	width: 94%;
	height: 120px;
	margin: 0 auto;
	display: flex;
	line-height: 120px;
	justify-content: space-between;
}
.b7{
	width: 100%;
	height: 500px;
	background: #EEEEEE;
}
.b8{
    width: 100%;
    height: 150px;
    background: white;
    padding-bottom: 20px;
}
.b9{
	display: flex;
	width: 94%;
    height: 150px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 2px solid #708090;
}
.b9>li:nth-child(1){
	width: 40%;
}
.b9>li:nth-child(2){
	color: #708090;
	font-size: 1.4rem;
}
.c1{
	background: white;
}
.c2{
	width: 94%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	border-bottom: 1px solid #708090;
}
.c2>li:nth-child(1){
	width: 27%;
	line-height: 100px;
}
.c2>li:nth-child(2){
	color: #708090;
	font-size: 1.4rem;
	line-height: 100px;
}
